.jumbotron {
  
  margin-top: -1.4em;
  background-repeat: no-repeat;
  // background-position: 32% 0%;
  background-size: cover;
  
  h1 {
    
    // font-weight: 400;
    // background-color: $brand-info;
    padding-left: 5px;
    
  }
  
}

.img-marketing {
  
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  
}

.page-category-card {
  
  padding: 1em;
  
}


// PRICING STYLES

.pricing-container {
  
  margin-top: 3em;
  margin-bottom: 3em;
  
}

.panel-featured {
  
  margin-top: -1.5em;
  
  @media screen and (max-width: $screen-sm-min) {
    
    margin-top: 0;
    
  }
  
}

.panel-pricing {
  
  text-align: center;
  
  
  p.price {
  
    font-size: 4em;
    font-weight: 700;
    color: $brand-info;
  
  }
  
  p.sub {
    
    
  }
  
  
}

.panel-featured {

  p.price {
    
    font-size: 6em;
    
  }
  
}
